* {
    box-sizing: border-box;
}
.header {
    text-align: center;
}
nav {
    position: fixed;
    background-color: yellow;
}
.content {
    max-width: 800px;
    margin: auto;
    text-align: center;
}
h2 {
    margin-bottom: 30px;
}
h5 {
    margin-top: -20px;
    margin-bottom: 200px;
}
img {
    height: 200px;
    width: 200px;
    float: left;
    margin-top: 15px;
    margin-right: 15px;
}
}
.img {
    overflow: auto;
    position: absolute;
}
p {
    text-align: left;
    margin-top: -180px;
    height: 340px;
    padding-left: 15px;
}
hr {
    width: 50%
}
.grid {
    max-width: 810px;
    margin: auto;
}
.column {
    float: left;
    width: 25%;
    padding: 5px;
  }
  .row2::after {
    content: "";
    clear: both;
    display: table;
  }  
  .column2 {
    float: left;
    width: 50%;
    padding: 5px;
  }
  .row3::after {
    content: "";
    clear: both;
    display: table;
  } 
  .column3 {
    float: left;
    width: 25%;
    padding: 5px;
  }
  .row4::after {
    content: "";
    clear: both;
    display: table;
  } 
  
.grid1 {
    height: 100px;
    width: 100%;
    background-color: #F5C6D6;
}
.row2 {
    border: 5px solid white;
}
.grid2 {
    height: 100px;
    width: 100%;
    background-color: #EE2E84;
 }
 .grid3 {
    height: 100px;
    width: 100%;
    background-color: #EE2E84;
 }
 .grid4 {
    height: 100px;
    width: 100%;
    background-color: #EE2E84;
 }
 .grid5 {
    height: 100px;
    width: 100%;
    background-color: #EE2E84;
 }
 .grid6 {
    height: 100px;
    width: 100%;
    background-color: #85CFD8;
 }
 .grid7 {
    height: 100px;
    width: 100%;
    background-color: #85CFD8;
 }
 .grid8 {
    height: 100px;
    width: 310%;
    background-color: #8DC63F;
 }
 .grid9 {
    height: 100px;
    width: 0%;
    background-color: #8DC63F;
 }
 .grid10 {
    height: 100px;
    width: 0%;
    background-color: #8DC63F;
 }
 .grid11 {
    height: 100px;
    width: 100%;
    background-color: #E76E34;
    float: right;
 }
