.container {
    background-color: white;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    column-gap: 1em;
    row-gap: 1em;
}
.box1 {
    background-color: #F5C6D6;
    grid-column: span 4;
    height: 16vh;
}
.box2 {
    display: grid;
    background-color:  #EE2E84;
    grid-column: span 1;
    height: 16vh;
}
.box3 {
    display: grid;
    background-color:  #EE2E84;
    grid-column: span 1;
    height: 16vh;
}
.box4 {
    display: grid;
    background-color:  #EE2E84;
    grid-column: span 1;
    height: 16vh;
}
.box5 {
    display: grid;
    background-color:  #EE2E84;
    grid-column: span 1;
    height: 16vh;
}
.box6 {
    display: grid;
    background-color:  #85CFD8;
    grid-column: span 2;
    height: 16vh;
}
.box7 {
    display: grid;
    background-color:  #85CFD8;
    grid-column: span 2;
    height: 16vh;
}
.box8 {
    display: grid;
    background-color:  #8DC63F;
    grid-column: span 3;
    height: 16vh;
}
.box9 {
    display: grid;
    background-color:  #E76E34;
    grid-column: span 1;
    height: 16vh;
}

@media (max-width: 768px) {
    .box1 {
        grid-column: span 4;
    }
    .box2 {
        grid-column: span 4;
    }
    .box3 {
        grid-column: span 4;
    }
    .box4 {
        grid-column: span 4;
    }
    .box5 {
        grid-column: span 4;
    }
    .box6 {
        grid-column: span 4;
    }
    .box7 {
        grid-column: span 4;
    }
    .box8 {
        grid-column: span 4;
    }
    .box9 {
        grid-column: span 4;
    }
}